# Игнорировать все файлы по умолчанию
*

# Исключить из игнорирования файлы .gitignore
!.gitignore

# Исключить из игнорирования файлы .py, .md и Dockerfile
!*.py
!*.md
!*.txt
!*.yaml
!Dockerfile
!*.yml
!Dockerfile
!*html
!*conf
!.env.sample
!*.j2
!*.tf

# Исключить вложенные директории, если в них есть нужные файлы
!*/
