#!/bin/bash

# Настройте переменные
SECRET_NAME="tracker-secret"
NAMESPACE="default"
OUTPUT_FILE="1_${SECRET_NAME}.yaml"

# Задайте пары ключ=значение
declare -A SECRET_DATA
SECRET_DATA=(
  ["POSTGRES_PASSWORD"]="password"
)

(
# Создание YAML-файла
echo "apiVersion: v1
kind: Secret
metadata:
  name: $SECRET_NAME
  namespace: $NAMESPACE
type: Opaque
data:" 

# Кодирование значений и добавление в файл
for KEY in "${!SECRET_DATA[@]}"; do
  VALUE=${SECRET_DATA[$KEY]}
  ENCODED_VALUE=$(echo -n "$VALUE" | base64)
  echo "  $KEY: $ENCODED_VALUE" 
done ) | kubectl apply -f -

